@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Albert+Sans', sans-serif;
}

#root {
  overflow: hidden;
}

.left-content {
  background-image: linear-gradient(#340f4f, #57217d, #2d1440);
  color: white;
  overflow: hidden;
  position: relative;
}

.top-logo, .middle-logo, #brand_name{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#brand_name {
  top: 140px;
  width: 80%;
}

.middle-logo {
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.info-text{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 80%;
  transform: translate(-50%);
}

.button {
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.btn-get-started {
  position: relative;
  background-color: #3f145e;
  color: #ffffff;
}

.btn-get-started::before {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.304);
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 1;
  transition: 0.5s;
  
}
.btn-get-started:hover::before {
  width: 100%;
  transition: 0.5s;
}

.text-content {
  padding: 0 20%;
}

.text-content > h1, p {
  margin: 0;
  padding: 5px 0;
}

.btn-back {
  font-size: 20px;
  vertical-align: middle;
  color: #000000;
}

.menu-top {
  background-image: linear-gradient(#340f4f, #6a5b76, #2d1440);
  color: #ffffff;
}

.btn-menu, .btn-member {
  color: #ffffff;
  text-decoration: none;
}

.btn-logout{
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  border-radius: 15px;
  padding: 3px 20px;
}

.menu-left {
  background-image: linear-gradient(to left, #340f4f, #6a5b76, #2d1440);
}

.element-left.nav-link {
  font-size: 25px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px;
}

.class-item {
  width: 350px !important;
  height: 250px !important;
  margin: 30px;
  margin-top: 20px !important;
  position: relative;
}

.class-item::after {
  content: "";
  position: absolute;
  background-image: url("../public/Images/user_icon.png");
  background-position: center;
  top: 50px;
  right: 10px;
  width: 65px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.21);
  border: 2px solid #ffffff;
  border-radius: 50%;
}

#dropdown-split-basic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #9191915e;
  border:none;
  position: 0.5s;
}

#dropdown-split-basic:hover {
  background: rgba(222, 222, 222, 0.678);
  border:none;
  position: 0.5s;
}

#dropdown-split-basic::after {
  display: none !important;
}

#dropdown-split-basic svg {
  color: #ffffff;
  
}

.tab-menu > ul, .tab-menu > ul > li > .nav-link {
  color: #3f3f3f;
  font-weight: bold;
  background: none;
  border: none;
}

.tab-menu > ul > li.nav-item:hover{
  background-color: #70707064;
  border-radius: 0;
}

.tab-menu > ul > li.nav-item:hover > .nav-link {
  color: #000000;
}

.tab-menu > ul > li > .nav-link.active {
  color: rgb(0,123,131);
  background: none;
  border-bottom: 4px solid rgb(0,123,131);
}

.tab-menu > ul > li > .nav-link.active:hover {
  color: rgb(0,123,131);
  background: none;
  border-radius: 0;
  background-color: rgb(228,247,251);
}

/* .menu-left {
  /* position: sticky;
  top: 0; 
  position: absolute;
  left: -250px; /* Kích thước khi thu gọn */
  /* width: 250px; 
  height: 100%;
  background-image: linear-gradient(to left, #340f4f, #6a5b76, #2d1440);
  /* transition: left 0.3s ease; Hiệu ứng di chuyển 
  transform: translateX(100%);
  z-index: 1000;
}

.menu-left.show {
  left: 0px;
  /* width: 100%; 
}

.right-content {
  transition: margin-left 0.3s ease; /* Hiệu ứng di chuyển 
}

.menu-left.show + .right-content {
  margin-left: 250px; /* Khoảng cách di chuyển khi sidebar mở rộng 
} */

/* .menu-left .element-left {
  color: #fff;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.menu-left .element-left:hover {
  background-color: #444;
} */.detail-news {
  padding: 0 15%;
  margin-bottom: 20px;
}

.banner-news {
  position: relative;
  height: 250px;
  border-radius: 15px;
  background-image: url("../public/Images/detail_class_bg.png");
}

.banner-news > h1 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.banner-members {
  padding: 0 15%;
  margin-bottom: 20px;
}
